/nbproject/private/
/build/
/ParseDocx/build/
/com.docxfj/nbproject/private/
/docx4j/nbproject/private/
/docx4j/build/
/com.sikuli.script/nbproject/private/
/sikuli-script/nbproject/private/
/sikuli-script/build/