<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swg.parse.interfaces.IXmlMapper">
    
    <insert id="insertData" parameterType="ExtractPOJO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO EXTRACTTEST
            (id, label, value, version, section)
	VALUES
            (#{id}, #{label}, #{value}, #{version}, #{section})
    </insert>
    
    <delete id="deleteDataById" parameterType="int" >
        DELETE FROM EXTRACTTEST WHERE ID = #{idNum}
    </delete>
    
    <delete id="deleteAll" >
        DELETE FROM EXTRACTTEST
    </delete>
    
    <delete id="deleteData" >
        DELETE FROM EXTRACTTEST WHERE ID = #{id}
    </delete>
    
    <select id="getAll" resultType="ExtractPOJO">
        SELECT * FROM EXTRACTTEST
    </select>
    
    <select id="getById" parameterType="int" resultType="ExtractPOJO">
        SELECT * FROM EXTRACTTEST WHERE ID = #{idNum}
    </select>
    
    <update id="updateData" parameterType="ExtractPOJO">
        UPDATE EXTRACTTEST 
        SET
        label = #{label},
        value = #{value},
        version = #{version},
        section = #{section}
        WHERE id = #{id}
    </update>

    
</mapper>